<div class="d-none" id="self-id">{{id}}</div>
<div class="row border" style="height: 1000px;">
  <div class="col-4 border">
    <div class="chat-header">上線使用者</div>
    <div id="online-users"></div>
  </div>

  <div class="col-8 border">
    <div class="chat-header">公開聊天室</div>
    <ul id="chat-messages"></ul>
    <form id="chat-form">
      <input id="chat-input" style="width: 90%;">
      <button id="chat-submit">
        <img src="/images/icon-orange-submit.png">
      </button>
    </form>
  </div>
</div>