<div class="d-none" id="self-id">{{id}}</div>
<div class="row border p-0 position-fixed" style="height: 100vh; width: 70%;">
  <div class="col-4 border p-0">
    <div class="chat-header">
      {{#ifCond path '/privateChat'}}
        <span>訊息</span>
      {{else}}
        <span>上線使用者</span>
        <span id="online-users-count">(0)</span>
      {{/ifCond}}
    </div>
    <div id="online-users"></div>
  </div>

  <div class="col-8 border p-0">
    <h5 class="chat-header">
      {{#ifCond path '/chatroom'}}公開聊天室{{/ifCond}}
    </h5>
    <div class="chat-messages-container">
      <div id="chat-messages"></div>
    </div>
    <form id="chat-form" {{#ifCond path '/privateChat'}}style="display: none;"{{/ifCond}}>
      <input id="chat-input" placeholder="輸入訊息...">
      <button id="chat-submit">
        <img src="/images/icon-orange-submit.png">
      </button>
    </form>
  </div>
</div>